.post-detail-page {
	.content-area {
		.avatar {
			width: 50px;
			height: 50px;
		}
		.panel {
			width: 100px;
			text-align: center;
		}
		.vote-button {
			font-size: 40px;
		}
		.vote-number {
			font-size: 20px;
		}
		//Responsive
		@media (max-width: 992px) {
			.avatar {
				width: 30px;
				height: 30px;
			}
			.panel {
				width: 30px;
			}
			.vote-button {
				font-size: 30px;
			}
			.vote-number {
				font-size: 15px;
			}
		}
		.post-content img {
			max-width: 100%;
		}
	}
	.comment-area {
		padding-left: 70px;
		@media (max-width: 992px) {
			padding-left: 0px;
		}
	}
	//Custom ant-design
	.ant-comment-inner {
		padding-bottom: 0px;
	}
	.ant-list-header {
		padding-top: 0px;
	}
}
