/* PostPage */

.post-page-search {
	margin-bottom: 20px;
	.input {
		width: 70%;
	}
	.button {
		width: 28%;
		margin-left: 2%;
	}
}

/* PostItem */

.post-summary {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.post-vote {
	text-align: center;
	margin-top: 10px;
	color: #b7b7b7;
}

.post-vote-avatar {
	margin-right: 10px;
}

.post-additional-info {
	font-size: 10px;
	color: #b7b7b7;
	margin-top: 10px;
	.total-comment,
	.create-at {
		text-align: right;
	}
}
