.user-home-page {
	.header {
		background-color: #8bc7ff;
		padding: 20px 50px;
		margin: 0px -50px 20px -50px;
		@media (max-width: 992px) {
			margin: 0px -10px 20px -10px;
			padding: 20px 10px;
		}
		.explore-word {
			background-color: red;
		}
		.info {
			margin-top: 20px;
		}
	}
	.level-text {
		font-weight: 600;
		.item1 {
			text-align: left;
		}
		.item2 {
			text-align: center;
		}
		.item3 {
			text-align: right;
		}
	}

	.level-card,
	.progress-card {
		border-radius: 20px;
	}
}
